body{
	font-family: arial, sans-serif;
	text-align: center;

}
*{
	padding: 0px;
	margin: 0px;
}


.wrapper{
	width:100%;
	height: 650px;
	background:#eee;
	margin: 0 auto 0 auto;
}

.navigation{
	height:30px;
	background:#aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 10px;
	font-family: impact;
	font-size: 12pt;

	
	
}
.logo{
	position: absolute;
	top: 15px;
	left: 280px;
	cursor: pointer; 
}
.leftarrow{
	position: absolute;
	top: 15px;
	left: 15px;
	cursor: pointer;
}
.navigation h1{
	float: left;
	font-weight: 400;
	color: white;
	cursor: pointer; 
	margin-left: 360px; 
}
.navigation ul{
	float: right;
	margin-top: 10;
	margin-bottom: 10;

}
.Default{
	position: absolute;
	top: 15px;
	left: 860px;
}
.Setting{
	position: absolute;
	top: 20px;
	left: 1010px;

}
.navigation ul li{
	display: inline;
	margin-right: 80px;
	
	padding: 6px;
	color: white;
}
.navigation ul li:hover{
	background: #333;
}

.navigation a{
	color: white;
	text-decoration: none;

}
.content{
	min-height: 330px;
	width: 100%;
	text-align: center;
	margin-top: 130px;
	

}
.content h1{
	color:black;

}
.button{
	font-weight: bold;
	margin-left: 580px;
	line-height: 50px;
	color: #222222;
	background: #e3e3e3;
	width: 200px;
	text-align: center;
	box-shadow: 1px 1px 5px rgba(0,0,0,.5),
	            0px 0px 0px 1px rgba(0,0,0,.1)

}

.button:hover{
	color: white;
	background: #333;
	cursor: pointer;
}
.footer{
	height: 50px;
	background: #aaa;
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px;
	font-family: impact;
	font-size: 12pt;
}
.footer ul{
	text-align: center;
	margin-top: 10;
	margin-bottom: 10;
}
.footer ul ul li{
	float: left;
	margin-left: 30px;
	


}
.footer ul li:hover{
	background: #333;
}
.footer ul li{
	float: right;
	display: inline;
	margin-right: 80px;
	padding: 6px;
	color: white;
}
.footer a{
	color: white;
	text-decoration: none;
}
