/* Sticky footer styles
-------------------------------------------------- */
body {
    font-family: arial, sans-serif;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    text-rendering: optimizeLegibility;
}
body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.846;
    color: #666666;
   /* background-color: #ffffff;*/
    background-image: url("../img/images23.png");
}
body {
    margin: 0;
}

body {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
}


.navbar-inverse .navbar-brand {
    color: yellow;


}
.navbar-brand {
    font-size: 24px;
}
.navbar-brand {
    float: left;
    padding: 20.5px 15px;
    font-size: 27px;
    line-height: 23px;
    height: 64px;

}
a {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
a {
    color: #2196f3;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.navbar {
    border: none;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.navbar-inverse {
    
    border-color: transparent;
    background-color: black;
    
    
    
}
.navbar {
    position: relative;
    min-height: 64px;
    margin-bottom: 23px;
    border: 1px solid transparent;
}
.navbar-inverse .navbar-nav>li>a {
    color: yellow;
    font-size: 17px;
     
}



html {
  /* position: relative; */
  /* min-height: 100%; */
}

/* Custom page CSS
-------------------------------------------------- */
/* Not navbar navbar-inverserequired for template or sticky footer method. */

/*.header{
	position:fixed;
	top:0;
	width:100%;
}*/
.btn.btn-block {
	border-radius: 0px;
  background-color: black;
}


.container {
  position:relative;
  width: 100%;
  /*max-width: 680px;*/
  /*padding: 0 15px;*/
  padding-left: 0px;
  padding-right: 0px;
  min-height: calc(100% - 152px);
  height: calc(auto - 152px);
  /*background-image: url("../img/world.jpg");*/

}
.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 3px;
}
.jumbotron {
    padding: 30px 15px;
    margin-bottom: 30px;
    margin-top: 0px;
    color: inherit;
    background-color: black;
    opacity: .6;
}

.ngview {
  margin:auto;
  width: 100%;
  max-width: 680px;

}

.footer{
    position: relative;
    min-height: 64px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    background: black;
  
  
  
 }
 .footer a{
  color: yellow;
  margin: 20px;
  font-size: 14px;
}




