/* Sticky footer styles
-------------------------------------------------- */

  html, body {
	margin:0;
	padding:0;
	height:100%;
}



html {
  /* position: relative; */
  /* min-height: 100%; */
}
body {
  /* Margin bottom by footer height */
  
}




/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*.header{
	position:fixed;
	top:0;
	width:100%;
}*/

.container {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}

.footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}



